*{
    margin: 0;
    padding: 0;
}
@font-face {
  font-family: 'font';
  src: url(../font/font.TTF);
}
@font-face {
  font-family: 'bx';
  src: url(../font/bx.TTF);
}
@font-face {
  font-family: 'tintuc';
  src: url(../font/tintuc.TTF);
}
header {
  height: 500px;
}
.row .nav {
  padding: 20px;
}
.row .nav li {
  padding-top: 20px;
}
.curr {
  padding: 20px;
}
.title { 
  border-radius: 10px;
  font-size: 30px;
  padding-left: 30px;
  text-align: left;
}
.curr .desc {
  color: gray;
}
.nav li {
  position: relative;
}
.nav li a:hover {
    color: lightblue;
    transition: 0.5s;
}
.nav li > a{
  color: white;
}
.sub-menu {
  background: black;
  border-radius: 20px;
  display: none;
  left: -20px;
  position: absolute;
  width: 200px;
  z-index: 9999999999999999;
}
.sub-menu a {
  color: white; 
}
.sub-menu > a:hover {
  color: lightblue; 
}
.icon {
  padding: 5px;
  position: absolute;
}
.active-pink-2 input[type=text]{
  border: 1px solid lightblue;
  border-radius: 20px;
  box-shadow: 0 0 0 1px lightblue;
  transition: 1s;
  width: 500px;
}
.search{
  padding-left: 25px;
}
#spinner { 
  cursor: none; 
  display: none; 
  font-size: 18px;
  position: absolute; 
  right: 10px; 
  top: 25px;
}
#goiy {
  position: absolute; 
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}
#goiy ul li{
  list-style-type: none;
  padding-left: 20px;
}
.ccc:hover .sub-menu {
  display: flex;
  margin-top: 20px;
}
.gioithieu {
    color: white;
}
.gioithieu h3{
    padding: 20px 0px 20px 0px;
}
.cot2 {
    position: relative;
    top: 150px;
}
.skill {
    position: relative; 
    top: 150px;
}
.skill h5{
    left: 20px;
    position: relative;
}
.skill p{
    opacity: 0.7;
}
.allkhoahoc {
  margin: auto;
  margin-bottom: 50px;
}
.motkhoahoc {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 5px 5px 0px #f2f2f2;
  height: 300px;
}
.motkhoahoc:hover p{
  color: white;
}
.motkhoahoc:hover .play{
  direction: 1s;
  display: block;
}
.motkhoahoc:hover .danhmuc{
  direction: 1s;
  display: none;
}
.khoahoc {
  background-color: #ff0066;
  border-radius: 20px;
  color: white;
  height: 200px;
}
.khoahoc img {
  padding: 15px;
}
.khoahoc h5 {
  height: 20px;
}
.play {
  background-color: white;
  border: 1px solid white;
  border-radius: 20px;
  display: none;
  font-weight: bold;
  margin: auto;
  padding: 5px;
  position: relative;
  top: 50px;
  width: 180px;
}
.play a{
  color: black;
}
.play:hover {
  opacity: 0.7;
  transition: 1s;
}
.danhmuc {
  color: gray;
  display: flex;
}
.danhmuc div {
  width: 50%;
}
.important {
  height: 100%;
  transition: 1s;
}

footer {
  background-color: #2b79e1;
  color: white;
  height: 700px;
  margin-top: 100px;
}
.email {
  margin: auto;
  text-align: center;
}
.email p {
  font-family: 'bx';
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
  word-spacing: 3px;
}
.email .form {
  margin-top: 50px;
}
.form form {
  margin-right: 100px;
}
.input {
  border: none;
  border-radius: 15px;
  margin-right: 130px;
  margin-top: 30px;
  outline: none;
  padding: 5px 15px;
  width: 300px;
}
.submit {
  background-color: #08fff6;
  border: none;
  border-radius: 15px;
  outline: none;
  padding: 5px 15px;
  position: relative;
  right: 155px;
}
.submit:hover {
  color: blue;
  transition: 0.6s;
}
.code .name {
  font-weight: bold;
  margin: 20px;
}
.code .desc-footer {
  font-size: 18px;
}
.iconsweb i{
    font-size: 23px;
    padding: 10px;
}
.fa-facebook-square:hover {
    color: blue;
    cursor: pointer;
    transform: rotate(360deg);
    transition: 0.7s;
}
.fa-youtube-play:hover {
    color: red;
    cursor: pointer;
    transform: rotate(360deg);
    transition: 0.7s;
}
.fa-twitter:hover {
    color: #33ccff;
    cursor: pointer;
    transform: rotate(360deg);
    transition: 0.7s;
}
.fa-github:hover {
    color: black;
    cursor: pointer;
    transform: rotate(360deg);
    transition: 0.7s;
}
.lienquan {
  display: flex;
  margin-left: 200px;
}
.lienquan div {
  margin-left: 30px;
}
.lienquan div p a{
  color: white;
  opacity: 0.7;
}
.end p {
  font-size: 13px;
  opacity: 0.7;
}
.fa-heart {
  color: white;
}
.PhaiDN button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
/* Text Align */
.text-l {
    text-align: left;
}
.text-r {
    text-align: right
}
.text-j {
    text-align: justify;
}

/* Text Color */
.text-whitesmoke {
    color: black;
}
.text-darkyellow {
    color: black;
}

/* Lines */

.line-b {
    border-bottom: 1px solid #FFEB3B !important;
}

/* Buttons */
.button {
    border-radius: 3px;
}
.form-button {
    background-color: rgba(255, 235, 59, 0.8);
    border-color: rgba(255, 235, 59, 0.24);
    color: black;
}
.form-button:hover,
.form-button:focus,
.form-button:active,
.form-button.active,
.form-button:active:focus,
.form-button:active:hover,
.form-button.active:hover,
.form-button.active:focus {
    border-color: rgba(255, 235, 59, 0.473);
    color: black;
    opacity: 0.7;
}
.button-l {
    width: 100% !important;
}

/* Margins g(global) - l(left) - r(right) - t(top) - b(bottom) */

.margin-g {
    margin: 15px;
}
.margin-g-sm {
    margin: 10px;
}
.margin-g-md {
    margin: 20px;
}
.margin-g-lg {
    margin: 30px;
}

.margin-l {
    margin-left: 15px;
}
.margin-l-sm {
    margin-left: 10px;
}
.margin-l-md {
    margin-left: 20px;
}
.margin-l-lg {
    margin-left: 30px;
}

.margin-r {
    margin-right: 15px;
}
.margin-r-sm {
    margin-right: 10px;
}
.margin-r-md {
    margin-right: 20px;
}
.margin-r-lg {
    margin-right: 30px;
}

.margin-t {
    margin-top: 15px;
}
.margin-t-sm {
    margin-top: 10px;
}
.margin-t-md {
    margin-top: 20px;
}
.margin-t-lg {
    margin-top: 30px;
}

.margin-b {
    margin-bottom: 15px;
}
.margin-b-sm {
    margin-bottom: 10px;
}
.margin-b-md {
    margin-bottom: 20px;
}
.margin-b-lg {
    margin-bottom: 30px;
}

/* Bootstrap Form Control Extension */

.dangnhap .form-control,
.dangki .form-control,
.border-line {
    background-image: none;
    border: 1px solid #424242;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.form-control:focus,
.border-line:focus {
    background-color: #616161;
    border-color: #FFEB3B;
    color: #e6e6e6;
}
.form-control,
.form-control:focus {
    box-shadow: none;
}
.form-control::-webkit-input-placeholder { color: #BDBDBD; }

/* Container */

.container-content {
    border-color: #FFEB3B;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
    color: inherit;
    padding: 15px 20px 20px 20px;
}

/* Backgrounds */

.main-bg {

    background: #424242;
    background: linear-gradient( #424242, #212121);
}

/* Login & Register Pages*/

.login-container {
    margin: 0 auto;
    max-width: 400px;
    padding-top: 100px;
    z-index: 100;
}
.login.login-container {
    width: 300px;
}
.wrapper.login-container {
    margin-top: 140px;
}
.logo-badge {
    color: #e6e6e6;
    font-size: 80px;
    font-weight: 800;
    letter-spacing: -10px;
    margin-bottom: 0;
    text-align: center
}
@media screen and (max-width: 564px) {
  footer { height: 450px; }
  .cc { display: none; }
  .img img { bottom: 450px; margin: 0px; position: relative; width: 20%;}
  .input { margin: 0px; }
  .submit { position: absolute; right: 80px; }
  header { height: auto; }
}

