*{
    margin: 0;
    padding: 0;
}
@font-face {
  font-family: 'font';
  src: url(../font/font.TTF);
}
@font-face {
  font-family: 'bx';
  src: url(../font/bx.TTF);
}
@font-face {
  font-family: 'tintuc';
  src: url(../font/tintuc.TTF);
}
header {
  height: 500px;
}
.row .nav {
  padding: 20px;
}
.row .nav li {
  padding-top: 20px;
}
.curr {
  padding: 20px;
}
.title { 
  border-radius: 10px;
  font-size: 30px;
  padding-left: 30px;
  text-align: left;
}
.curr .desc {
  color: gray;
}
.nav li {
  position: relative;
}
.nav li a:hover {
    color: black;
    transition: 0.5s;
}
.nav li > a{
  color: white;
}
.sub-menu {
  background: black;
  border-radius: 20px;
  display: none;
  left: -20px;
  position: absolute;
  width: 200px;
  z-index: 9999999999999999;
}
.sub-menu a {
  color: white; 
}
.sub-menu a:hover {
  color: lightblue; 
}
.icon {
  padding: 5px;
  position: absolute;
}
.active-pink-2 input[type=text]:focus:not([readonly]) {
border: 1px solid #f48fb1;
border-radius: 20px;
box-shadow: 0 0 0 1px #f48fb1;
transition: 1s;
width: 310px;
}
.search{
  padding-left: 25px;
}
#spinner { 
  cursor: none; 
  display: none; 
  font-size: 18px;
  position: absolute; 
  right: 10px; 
  top: 25px;
}
#goiy {
  position: absolute; 
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}
#goiy ul li{
  list-style-type: none;
  padding-left: 20px;
}
.ccc:hover .sub-menu {
  display: flex;
  margin-top: 20px;
}
.gioithieu {
    color: white;
}
.gioithieu h3{
    padding: 20px 0px 20px 0px;
}
.cot2 {
    position: relative;
    top: 150px;
}
.skill {
    position: relative; 
    top: 150px;
}
.skill h5{
    left: 20px;
    position: relative;
}
.skill p{
    opacity: 0.7;
}
.allkhoahoc {
  margin: auto;
  margin-bottom: 50px;
}
.motkhoahoc {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 5px 5px 0px #f2f2f2;
  height: 300px;
}
.motkhoahoc:hover p{
  color: white;
}
.motkhoahoc:hover .play{
  direction: 1s;
  display: block;
}
.motkhoahoc:hover .danhmuc{
  direction: 1s;
  display: none;
}
.khoahoc {
  background-color: #ff0066;
  border-radius: 20px;
  color: white;
  height: 200px;
}
.khoahoc img {
  padding: 15px;
}
.khoahoc h5 {
  height: 20px;
}
.play {
  background-color: white;
  border: 1px solid white;
  border-radius: 20px;
  display: none;
  font-weight: bold;
  margin: auto;
  padding: 5px;
  position: relative;
  top: 50px;
  width: 180px;
}
.play a{
  color: black;
}
.play:hover {
  opacity: 0.7;
  transition: 1s;
}
.danhmuc {
  color: gray;
  display: flex;
}
.danhmuc div {
  width: 50%;
}
.important {
  height: 100%;
  transition: 1s;
}

footer {
  background-color: #2b79e1;
  color: white;
  height: 700px;
  margin-top: 100px;
}
.email {
  margin: auto;
  text-align: center;
}
.email p {
  font-family: 'bx';
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
  word-spacing: 3px;
}
.email .form {
  margin-top: 50px;
}
.form form {
  margin-right: 100px;
}
.input {
  border: none;
  border-radius: 15px;
  margin-right: 130px;
  margin-top: 30px;
  outline: none;
  padding: 5px 15px;
  width: 300px;
}
.submit {
  background-color: #08fff6;
  border: none;
  border-radius: 15px;
  outline: none;
  padding: 5px 15px;
  position: relative;
  right: 155px;
}
.submit:hover {
  color: blue;
  transition: 0.6s;
}
.code .name {
  font-weight: bold;
  margin: 20px;
}
.code .desc-footer {
  font-size: 18px;
}
.iconsweb i{
    font-size: 23px;
    padding: 10px;
}
.fa-facebook-square:hover {
    color: blue;
    cursor: pointer;
    transform: rotate(360deg);
    transition: 0.7s;
}
.fa-youtube-play:hover {
    color: red;
    cursor: pointer;
    transform: rotate(360deg);
    transition: 0.7s;
}
.fa-twitter:hover {
    color: #33ccff;
    cursor: pointer;
    transform: rotate(360deg);
    transition: 0.7s;
}
.fa-github:hover {
    color: black;
    cursor: pointer;
    transform: rotate(360deg);
    transition: 0.7s;
}
.lienquan {
  display: flex;
  margin-left: 200px;
}
.lienquan div {
  margin-left: 30px;
}
.lienquan div p a{
  color: white;
  opacity: 0.7;
}
.end p {
  font-size: 13px;
  opacity: 0.7;
}
.fa-heart {
  color: white;
}
@media screen and (max-width: 564px) {
  footer { height: 450px; }
  .cc { display: none; }
  .img img { bottom: 450px; margin: 0px; position: relative; width: 20%;}
  .input { margin: 0px; }
  .submit { position: absolute; right: 80px; }
  header { height: auto; }
}

